.card {
	padding: 50px;
	display: flex;
 	align-items: center;
 	justify-content: space-around;
}

.card-text-left{
	float: left;
  width: 400px;


}

.card-pictures-right{
	margin-left: 60%;
	justify-content: space-between;
}



#card-menu-profiles{
	display: flex;

}